.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}


@media screen and (max-width: 750px) {
    .profile {
        flex-direction: column;
    }
}