.header__line {
    width: 880px;
    opacity: 0.7;
}

@media screen and (max-width: 900px) {
    .header__line {
        width: 700px;
    }
}

@media screen and (max-width: 700px) {
    .header__line {
        width: 500px;
    }
}

@media screen and (max-width: 500px) {
    .header__line {
        width: 320px;
    }
}