.header {
    max-width: 880px;
    max-height: 74px;
    margin: 0 auto 40px;
    padding-top: 45px;
    border-bottom: 1px solid #545454;
    opacity: 0.7;
}

@media screen and (max-width: 900px) {
    .header {
        max-width: 700px;
    }
}

@media screen and (max-width: 700px) {
    .header {
        max-width: 500px;
    }
}

@media screen and (max-width: 500px) {
    .header {
        max-width: 320px;
        min-height: 56px;
        padding-top: 28px;
    }
}