.cards__item {
    list-style-type: none;
    display: grid;
    justify-content: center;
    justify-items: stretch;
    grid-template-columns: repeat(auto-fill, 282px);
    grid-column-gap: 17px;
    grid-row-gap: 20px;
    padding: 0;
    margin: 0;
}